<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>DATABASE CONFIG</comment>
<entry key="DBstyle">MySQL</entry>
<entry key="DBname">tsale</entry>
<entry key="Username">root</entry>
<entry key="Password">admin</entry>
</properties>
